<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.example-operator.mintfiles.mount</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>$WORKBENCH_ROOT/scripts/root/mounts/mintfiles-mount.sh</string>
    <string>launchd-run</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>$HOME/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>WorkingDirectory</key>
  <string>$WORKBENCH_ROOT</string>

  <key>StandardOutPath</key>
  <string>$HOME/Library/Logs/rclone-mintfiles-launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>$HOME/Library/Logs/rclone-mintfiles-launchd.err.log</string>
</dict>
</plist>
